ion-app{
    --ion-background-color: rgb(67, 118, 108);
  }
  
  .contenedor {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .titulos{
    text-align: center;
    color: azure;
  }

  .imagenPublicacion {
    width: 350px;
    height: 300px;
  }