ion-content {
    --ion-background-color: rgb(65, 119, 108);
    
}

.contenedor {
    margin: 10%;
    display: flex;
    justify-content: center;
}

ion-card {
   background: linear-gradient(hsl(34,30%,57%),hsl(10,36%,34%));
   border-radius:10%;
   border: 1px solid black;

}

ion-input{
    color: hsl(66,67%,94%);
}
ion-card-title{
    color: hsl(66,67%,94%) ;
}
img{
    border-radius: 50% ;
    margin: 5%; 
    border: 4px solid rgb(248, 250, 230); 
}
ion-button{
   height: 50%;
   --background: rgb(65, 119, 108);
   --color: hsl(66,67%,94%);
}
ion-label{
    color: hsl(66,67%,94%);
}
ion-select{
    color: hsl(66,67%,94%);
}
