<ion-app>
  <ion-content>
    <div class="contenedor">
      <ion-card>
        <ion-card-header>
          
          <br>
          <ion-card-title>Registrarse</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" label="Nombre" [(ngModel)]="nombre" placeholder="Nombre de usuario"></ion-input>
          <ion-input type="number" label="edad" [(ngModel)]="edad" ></ion-input>
          <ion-input type="text" label="Ciudad" [(ngModel)]="ciudad" placeholder="Confirma la contraseña"></ion-input>
          <ion-input type="text" label="Pais" [(ngModel)]="pais" placeholder="Confirma la contraseña"></ion-input>
          <ion-input type="email" label="Email" [(ngModel)]="correo" placeholder="Escibre tu Correo Electronico"></ion-input>
          <ion-input type="password" label="Contraseña" [(ngModel)]="laContra" placeholder="Escibre La contraseña "></ion-input>
          <ion-input type="password" label="Re-Contraseña" [(ngModel)]="laContra2" placeholder="Confirma la contraseña"></ion-input>
          
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="InicioSession()"expand="block">Iniciar Session</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="registrarse()" expand="block">Registrarse</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>
