<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Agregar Mascota</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Agregar Mascota</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="contenedor">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Registrar Mascota</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre de Mascota">
          </ion-input>
          <ion-input type="number" [(ngModel)]="edad" placeholder="Edad de la Mascota">
          </ion-input>
          <ion-input type="text" [(ngModel)]="raza" placeholder="Raza de la Mascota">
          </ion-input>
          <ion-input type="text" [(ngModel)]="sexo" placeholder="Sexo de la Mascota">
          </ion-input>
          <ion-input type="text" [(ngModel)]="ciudad" placeholder="Ciudad de la Mascota">
          </ion-input>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="agregarMascota()" expand="block">
                Agregar Mascota
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>